{% extends 'base.html' %}

{% block header %}
<div class="card">
    <div class="card-header">
      Todolist
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Todo List の作成</p>
        <footer class="blockquote-footer">計画を達成しよう<cite title="Source Title"> ー</cite></footer>
      </blockquote>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container"> 
    <a href="{% url 'create' %}" class="btn btn-secondary mb-2" tabindex="-1" role="button" aria-disabled="true">新規作成</a>
    {% for item in object_list %}
    <div class="alert alert-{{ item.priority }}" role="alert">
        <p>{{ item.title }} date:{{ item.duedate | date:"Y / m / d" }}</p>
        <a href="{% url 'update' item.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集画面</a>
        <a href="{% url 'delete' item.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">削除画面</a>
        <a href="{% url 'detail' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細画面</a>
    </div>
    {% endfor %}
</div>

{% endblock content %}